<h1>My Favorite Recipes</h1>

<div class="recipes">
  <% if @recipes.present? %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
        <h3><%= recipe.name %></h3>
        <p><%= recipe.cuisine %></p>
      </div>
    <% end %>
  <% else %>
    <p>No favorite recipes yet.</p>
  <% end %>
</div>
