<div class="container">
  <h1>Settings</h1>

  <%= simple_form_for @user, url: settings_path, method: :patch do |f| %>
    <%= f.input :allergies %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
