<footer class="footer mt-auto">
  <div class="container-fluid">
    <div class="d-flex flex-column align-items-center">

      <span class="footer-brand fw-semibold">
        <%= image_tag 'forkcast_footer.png', class: "img-fluid mb-3", style: "height: 80px", alt: "forkcast logo" %>
      </span>

      <div class="footer-links text-center w-100 my-2">
        
      </div>

      <div class="footer-meta mt-3">
        © 2026 - A collaborative student project.
      </div>

    </div>

  </div>
</footer>
