<% content_for :body_class, "transparent-nav" %>
<div class="banner" style="position: relative; margin-top: -56px;">
  <%= image_tag "landing_banner.jpg", class: "banner-img w-100", style: "height: 70vh; object-fit: cover;" %>
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(123, 174, 127, 0.4);"></div>
</div>
