<div class="simple-calendar">
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th>
            <% if @week.id %>
              <%= link_to day.strftime("%a %d"), week_day_path(@week, day), class: "text-decoration-none" %>
            <% else %>
              <%= day.strftime("%a %d") %>
            <% end %>

          </th>
        <% end %>
      </tr>
    </thead>

      <tbody>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
