.loading-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-img {
  height: 100%;
}

.card:has(.loading-img) {
  height: 320px;
  filter: hue-rotate(-60deg);
}
