.recipe-color-0 { background-color: #FFF3CD; } // yellow
.recipe-color-1 { background-color: #D1ECF1; } // blue
.recipe-color-2 { background-color: #dbe9cf; } // green
.recipe-color-3 { background-color: #F8D7DA; } // red
.recipe-color-4 { background-color: #E2D9F3; } // purple
.recipe-color-5 { background-color: #FFE5D0; } // orange
